[Desktop Entry]
Type=Application
Name=Spek-rs
Exec=/usr/bin/spek-rs %F
Icon=spek-rs
Categories=AudioVideo;Audio;
Comment=Acoustic spectrum analyser. Spek alternative written in Rust.
Terminal=false
MimeType=application/ogg;audio/x-vorbis+ogg;application/x-ogg;audio/ogg;audio/x-ogg;audio/x-opus+ogg;audio/flac;audio/x-flac;application/flac;audio/wav;audio/x-wav;audio/mp3;audio/x-mp3;audio/m4a;audio/x-m4a;
